# Lending Club Case Study

## 1. Import Libraries

In [36]:
# Importing Libraraies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## 2. Load Data

In [37]:
#reading the data
loan_df = pd.read_csv("loan.csv")

# shape to get number of rows and columns
loan_df.shape

(39717, 111)

In [38]:
# Get the information od data frame
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

## 3. Validate null/empty values in all the columns

In [39]:
# Columns which contains empty values
loan_df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [40]:
# remove the empty column
loan_df.dropna(axis = 1, how = 'all', inplace = True)
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [45]:
loan_df.value_counts
# this gives us detailaion of columns, data and values

<bound method DataFrame.value_counts of             id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      1077501    1296599       5000         5000           4975.0
1      1077430    1314167       2500         2500           2500.0
2      1077175    1313524       2400         2400           2400.0
3      1076863    1277178      10000        10000          10000.0
4      1075358    1311748       3000         3000           3000.0
...        ...        ...        ...          ...              ...
39712    92187      92174       2500         2500           1075.0
39713    90665      90607       8500         8500            875.0
39714    90395      90390       5000         5000           1325.0
39715    90376      89243       5000         5000            650.0
39716    87023      86999       7500         7500            800.0

             term int_rate  installment grade sub_grade  ... next_pymnt_d  \
0       36 months   10.65%       162.87     B        B2  ...          NaN
1       60 months   15.27%        59.83     C        C4  ...          NaN
2       36 months   15.96%        84.33     C        C5  ...          NaN
3       36 months   13.49%       339.31     C        C1  ...          NaN
4       60 months   12.69%        67.79     B        B5  ...       Jun-16
...           ...      ...          ...   ...       ...  ...          ...
39712   36 months    8.07%        78.42     A        A4  ...          NaN
39713   36 months   10.28%       275.38     C        C1  ...          NaN
39714   36 months    8.07%       156.84     A        A4  ...          NaN
39715   36 months    7.43%       155.38     A        A2  ...          NaN
39716   36 months   13.75%       255.43     E        E2  ...          NaN

      last_credit_pull_d collections_12_mths_ex_med  policy_code  \
0                 May-16                        0.0            1
1                 Sep-13                        0.0            1
2                 May-16                        0.0            1
3                 Apr-16                        0.0            1
4                 May-16                        0.0            1
...                  ...                        ...          ...
39712             Jun-10                        NaN            1
39713             Jul-10                        NaN            1
39714             Jun-07                        NaN            1
39715             Jun-07                        NaN            1
39716             Jun-10                        NaN            1

      application_type acc_now_delinq chargeoff_within_12_mths delinq_amnt  \
0           INDIVIDUAL              0                      0.0           0
1           INDIVIDUAL              0                      0.0           0
2           INDIVIDUAL              0                      0.0           0
3           INDIVIDUAL              0                      0.0           0
4           INDIVIDUAL              0                      0.0           0
...                ...            ...                      ...         ...
39712       INDIVIDUAL              0                      NaN           0
39713       INDIVIDUAL              0                      NaN           0
39714       INDIVIDUAL              0                      NaN           0
39715       INDIVIDUAL              0                      NaN           0
39716       INDIVIDUAL              0                      NaN           0

      pub_rec_bankruptcies tax_liens
0                      0.0       0.0
1                      0.0       0.0
2                      0.0       0.0
3                      0.0       0.0
4                      0.0       0.0
...                    ...       ...
39712                  NaN       NaN
39713                  NaN       NaN
39714                  NaN       NaN
39715                  NaN       NaN
39716                  NaN       NaN

[39717 rows x 57 columns]>

## 4. Remove Single valued and Not required Columns

In [46]:
# Drop Single Vlaued columns
loan_df.drop(['pymnt_plan', "initial_list_status",'collections_12_mths_ex_med','policy_code','acc_now_delinq', 'application_type', 'pub_rec_bankruptcies', 'tax_liens', 'delinq_amnt'], axis = 1, inplace = True)
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,chargeoff_within_12_mths
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0

In [47]:
# Drop un-necessary columns
loan_df.drop(["id", "member_id", "url", "title", "emp_title", "zip_code", "last_credit_pull_d", "addr_state","desc","out_prncp_inv","total_pymnt_inv","funded_amnt", "delinq_2yrs", "revol_bal", "out_prncp", "total_pymnt", "total_rec_prncp", "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt", "next_pymnt_d" , "chargeoff_within_12_mths", "mths_since_last_delinq", "mths_since_last_record"], axis = 1, inplace = True)
loan_df.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,issue_d,loan_status,purpose,dti,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_util,total_acc
0,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,...,Dec-11,Fully Paid,credit_card,27.65,Jan-85,1,3,0,83.70%,9
1,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,...,Dec-11,Charged Off,car,1.00,Apr-99,5,3,0,9.40%,4
2,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,...,Dec-11,Fully Paid,small_business,8.72,Nov-01,2,2,0,98.50%,10
3,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,...,Dec-11,Fully Paid,other,20.00,Feb-96,1,10,0,21%,37
4,3000,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,80000.0,...,Dec-11,Current,other,17.94,Jan-96,0,15,0,53.90%,38

#### Now we have the required columns

In [49]:
loan_df.shape

(39717, 21)

# 5. Handling Missing values

In [53]:
# Identify the missing values in each columns
(loan_df.isna().sum()/len(loan_df.index))*100

loan_amnt              0.000000
funded_amnt_inv        0.000000
term                   0.000000
int_rate               0.000000
installment            0.000000
grade                  0.000000
sub_grade              0.000000
emp_length             2.706650
home_ownership         0.000000
annual_inc             0.000000
verification_status    0.000000
issue_d                0.000000
loan_status            0.000000
purpose                0.000000
dti                    0.000000
earliest_cr_line       0.000000
inq_last_6mths         0.000000
open_acc               0.000000
pub_rec                0.000000
revol_util             0.125891
total_acc              0.000000
dtype: float64

In [54]:
# Columns 'emp_length' and 'revol_util' has empty values

#### remove the rows where the columns contain empty values

In [57]:
loan_df.dropna(axis = 0, subset = ['revol_util'] , inplace = True)
loan_df.revol_util.isna().sum()

0

In [58]:
loan_df.dropna(axis = 0, subset = ['emp_length'] , inplace = True)
loan_df.revol_util.isna().sum()

0

In [61]:
# Identify the missing values in each columns
(loan_df.isna().sum()/len(loan_df.index))*100

loan_amnt              0.0
funded_amnt_inv        0.0
term                   0.0
int_rate               0.0
installment            0.0
grade                  0.0
sub_grade              0.0
emp_length             0.0
home_ownership         0.0
annual_inc             0.0
verification_status    0.0
issue_d                0.0
loan_status            0.0
purpose                0.0
dti                    0.0
earliest_cr_line       0.0
inq_last_6mths         0.0
open_acc               0.0
pub_rec                0.0
revol_util             0.0
total_acc              0.0
dtype: float64

In [60]:
# this was the shape after removing emppty cells
loan_df.shape

(38595, 21)

# 6. Convert the columns data types

In [62]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38595 entries, 0 to 39716
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   loan_amnt            38595 non-null  int64
 1   funded_amnt_inv      38595 non-null  float64
 2   term                 38595 non-null  object
 3   int_rate             38595 non-null  object
 4   installment          38595 non-null  float64
 5   grade                38595 non-null  object
 6   sub_grade            38595 non-null  object
 7   emp_length           38595 non-null  object
 8   home_ownership       38595 non-null  object
 9   annual_inc           38595 non-null  float64
 10  verification_status  38595 non-null  object
 11  issue_d              38595 non-null  object
 12  loan_status          38595 non-null  object
 13  purpose              38595 non-null  object
 14  dti                  38595 non-null  float64
 15  earliest_cr_line     38595 non-null  object
 16  inq_last_6mths       38595 non-null  int64
 17  open_acc             38595 non-null  int64
 18  pub_rec              38595 non-null  int64
 19  revol_util           38595 non-null  object
 20  total_acc            38595 non-null  int64
dtypes: float64(4), int64(5), object(12)
memory usage: 6.5+ MB

In [64]:
# Columns 'emp_length', 'int_rate', 'revol_util' are continuous values having 'object' as data type
loan_df.revol_util = pd.to_numeric(loan_df.revol_util.apply(lambda x : x.split('%')[0]))
loan_df.int_rate = pd.to_numeric(loan_df.int_rate.apply(lambda x : x.split('%')[0]))

In [65]:
# Conidering '0' if emp_length <1 year and '10' as > 10 +year
loan_df.emp_length = pd.to_numeric(loan_df.emp_length.apply(lambda x: 0 if "<" in x else (x.split('+')[0] if "+" in x else x.split()[0])))

In [66]:
loan_df.head()

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,issue_d,loan_status,purpose,dti,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_util,total_acc
0,5000,4975.0,36 months,10.65,162.87,B,B2,10,RENT,24000.0,...,Dec-11,Fully Paid,credit_card,27.65,Jan-85,1,3,0,83.7,9
1,2500,2500.0,60 months,15.27,59.83,C,C4,0,RENT,30000.0,...,Dec-11,Charged Off,car,1.00,Apr-99,5,3,0,9.4,4
2,2400,2400.0,36 months,15.96,84.33,C,C5,10,RENT,12252.0,...,Dec-11,Fully Paid,small_business,8.72,Nov-01,2,2,0,98.5,10
3,10000,10000.0,36 months,13.49,339.31,C,C1,10,RENT,49200.0,...,Dec-11,Fully Paid,other,20.00,Feb-96,1,10,0,21.0,37
4,3000,3000.0,60 months,12.69,67.79,B,B5,1,RENT,80000.0,...,Dec-11,Current,other,17.94,Jan-96,0,15,0,53.9,38

# 7. Ignore the 'loan_status' which is 'current'

In [67]:
loan_df = loan_df[loan_df.loan_status != "Current"]
loan_df.loan_status.unique()
# considering the 'Fully Paid' and 'charged off' loan status

array(['Fully Paid', 'Charged Off'], dtype=object)

In [68]:
loan_df.shape

(37497, 21)